<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/d7576195fc.js"
      crossorigin="anonymous"
    ></script>

    <title>Team Profile</title>
  </head>
  <body>
    <div id="team" class="container-fluid">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Management_Hierarchy_Flat_Icon.svg/1024px-Management_Hierarchy_Flat_Icon.svg.png"
        height="100px"
        width="100px"
      />
      <h1>Team Wombat</h1>
    </div>
    <div id="displayteam" class="container-fluid">
      <div class="employeecard" class="card" style="width: 18rem;">
        <div class="card-body">
          <div id="head">
            <h5 class="card-title">Matt</h5>
            <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fab fa-mailchimp fa-2x"></i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-building fa-2x"></i>
            </li>
            <li class="list-group-item fa-2x">
              <i class="fas fa-id-badge"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="employeecard" class="card" style="width: 18rem;">
        <div class="card-body">
          <div id="head">
            <h5 class="card-title">Matt</h5>
            <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fab fa-mailchimp fa-2x"></i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-building fa-2x"></i>
            </li>
            <li class="list-group-item fa-2x">
              <i class="fas fa-id-badge"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="employeecard" class="card" style="width: 18rem;">
        <div class="card-body">
          <div id="head">
            <h5 class="card-title">Matt</h5>
            <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fab fa-mailchimp fa-2x"></i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-building fa-2x"></i>
            </li>
            <li class="list-group-item fa-2x">
              <i class="fas fa-id-badge"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="employeecard" class="card" style="width: 18rem;">
        <div class="card-body">
          <div id="head">
            <h5 class="card-title">Matt</h5>
            <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fab fa-mailchimp fa-2x"></i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-building fa-2x"></i>
            </li>
            <li class="list-group-item fa-2x">
              <i class="fas fa-id-badge"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="employeecard" class="card" style="width: 18rem;">
        <div class="card-body">
          <div id="head">
            <h5 class="card-title">Matt</h5>
            <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fab fa-mailchimp fa-2x"></i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-building fa-2x"></i>
            </li>
            <li class="list-group-item fa-2x">
              <i class="fas fa-id-badge"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="employeecard" class="card" style="width: 18rem;">
        <div class="card-body">
          <div id="head">
            <h5 class="card-title">Matt</h5>
            <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fab fa-mailchimp fa-2x"></i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-building fa-2x"></i>
            </li>
            <li class="list-group-item fa-2x">
              <i class="fas fa-id-badge"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <style>
      #team {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: darkblue;
        color: white;
        width: 100%;
        padding: 20px;
        font-size: 3em;
      }
      #displayteam {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
      }
      .employeecard {
        border: 1px solid lightgrey;
        margin: 3%;
      }
    </style>
  </body>
</html>
